# --- Датасеты ---
Data/
Features/
cat_samples/
# --- Виртуальное окружение ---
.venv/
venv/
env/

# --- Python cache ---
__pycache__/
*.py[cod]

# --- Jupyter ---
.ipynb_checkpoints/

# --- IDE ---
.idea/
.vscode/
